#players {
    position:absolute;
    height: auto;
    width: auto;
    left: 5px;
    padding: 5px;
    top: 35%;
    border: 1px solid black;
}

.takingTurn {
    background-color: lightgray;
}

#notepad {
    position: absolute;
    width: 150px;
    height: auto;
    bottom: 5px;
    right: 5px;
    border: 1px solid black;
}

#hand_container {
    position:absolute;
    left: 40%;
    bottom: 5px;
    height: 182px;
}

#hand {
    text-align: center;
    overflow: auto;
}

.card {
    width: 90px;
    height: 180px;
    border: 1px solid black;
    float: left;
    padding: 1px;
}

#chat_container {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
#chat_text {
    height:150px;
    width: 300px;
    padding: 2px;
    overflow-y: scroll;
    word-wrap: break-word;
    border: 1px solid black;
}
#chat_input {
    width: 250px;
}


#board {
    text-align: center;
    table-layout: fixed;
    border-spacing: 0px;
    margin: auto;
}

td {
    height: 20%;
    width: 20%;
    padding: 0px;
    margin: 0px;
}

.room {
    padding: 1px;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.roomName {
    flex-basis: 100%;
    align-self: flex-start;
}

.vert_hallway {
    padding: 1px;
    border: 1px solid black;
    height: 102%;
    width: 33%;
    margin-bottom: 1px;
    margin-left: 33%;
    margin-right: 33%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
}

.horizontal_hallway {
    padding: 1px;
    border: 1px solid black;
    margin-left: 3px;
    height: 44%;
    width: 96%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
}

.selectable {
    border: 1px solid blue;
    cursor: pointer;
}
.selectable:hover {
    border: 2px solid blue;
    padding: 0px;
}
.suspect {
    margin: auto;
    width: 39px;
    height: 39px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: solid 1px;
}

.miniSuspect {
    margin: auto;
    width: 9px;
    height: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px;
    display: inline-block;
}
