#Study {
	background-image: url("images/Study.png");
	background-size: cover;
}
#Hall {
	background-image: url("images/Hall.png");
	background-size: cover;
}
#Library {
	background-image: url("images/Library.png");
	background-size: cover;

}
#Lounge {
	background-image: url("images/Lounge.png");
	background-size: cover;
}
.BilliardRoom {
	background-image: url("images/BilliardRoom.png");
	background-size: cover;
}
.DiningRoom {
	background-image: url("images/DiningRoom.png");
	background-size: cover;
}
#Conservatory {
	background-image: url("images/Conservatory.png");
	background-size: cover;
}
#Ballroom {
	background-image: url("images/Ballroom.png");
	background-size: cover;
}
#Kitchen {
	background-image: url("images/Kitchen.png");
	background-size: cover;
}
.roomName {
  color: white;
  text-shadow: 0 1px black;
  background: rgba(0,0,0,0.6);
  padding: 4px 8px;
}
#players {
    position:absolute;
    height: auto;
    width: auto;
    left: 5px;
    padding: 5px;
    top: 35%;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.6);
}

.takingTurn {
    background-color: lightgray;
}

#notepad {
    position: absolute;
    width: 150px;
    height: auto;
    bottom: 5px;
    right: 5px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.75);
}

#hand_container {
    position:absolute;
    left: 40%;
    bottom: 5px;
    height: 182px;
}

#hand {
    text-align: center;
    overflow: auto;
}

.card {
    width: 90px;
    height: 180px;
    border: 1px solid black;
    float: left;
    background: rgba(255, 255, 255, 0.75);
}

#chat_container {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: rgba(255, 255, 255, 0.75);
}
#chat_text {
    height:150px;
    width: 300px;
    padding: 2px;
    overflow-y: scroll;
    word-wrap: break-word;
    border: 1px solid black;
}
#chat_input {
    width: 250px;
}


#board {
    text-align: center;
    table-layout: fixed;
    border-spacing: 0px;
    margin: auto;
}

td {
    height: 20%;
    width: 20%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.room {
    border: 1px solid black;
}

.vert_hallway {
    border: 1px solid black;
    height: 100%;
    width: 33%;
    margin: auto;
    background-image: url("images/Walkway_Vert.png")
}

.horizontal_hallway {
    border: 1px solid black;
    height: 44%;
    width: 99%;
    background-image: url("images/Walkway_Horiz.png")
}

.selectable {
    border: 2px solid blue;
}
.selectable:hover {
    border: 4px solid blue;
    padding: 0px;
}
.suspect {
    margin: auto;
    width: 39px;
    height: 39px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: solid 1px;
}

.miniSuspect {
    margin: auto;
    width: 9px;
    height: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px;
    display: inline-block;
}
